// Typography mixins
@mixin responsive-font($mobile, $tablet: null, $desktop: null) {
  font-size: $mobile;

  @if $tablet {
    @include media-tablet {
      font-size: $tablet;
    }
  }

  @if $desktop {
    @include media-laptop {
      font-size: $desktop;
    }
  }
}
// Layout mixins
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexSpaceEvenly {
  display: flex;
  justify-content: space-between;
}

@mixin flexSpaceCenter {
  display: flex;
  justify-content: center;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  align-items: flex-start;
}

@mixin positionAbsoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 50%;
}
