/* Color variables */
// Brand Colors
$color-primary: #3461ff;
$color-white: #ffffff;
$color-black: #000000;
$color-silver: rgba(0, 0, 0, 0.6);
$color-background: #fafafa;
$color-black-background: #232038;

/*Spacing variables*/
// Spacing System
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 48px;

/* Typography */
$font-family: "General Sans Variable", sans-serif;

// Base
$font-size-base: 16px;

$font-size-heading-mobile: 64px;
$font-size-heading: 96px;
$font-size-subheading-mobile: 48px;
$font-size-subheading: 64px;
$font-size-frame-heading-mobile: 36px;
$font-size-frame-heading: 36px;
$font-size-frame-subheading: 32px;
$font-size-card-heading: 28px;
$font-size-card-subheading: 20px;
$font-size-text-medium: 18px;
$font-size-text-small: 16px;
$font-size-text-tiny: 14px;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line heights
$line-height-tight: 1.1;
$line-height-normal: 1.5;
$line-height-relaxed: 1.6;
