.commitments {
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  padding: 48px 16px;
  gap: 40px;

  .commitments-frame-1,
  .commitments-frame-2,
  .commitments-frame-column {
    flex-direction: column;
    gap: 24px;
  }

  .column-padding {
    padding-bottom: 0;
    align-items: center;
  }

  .column-margin {
    margin-bottom: 0;
  }

  @include media-tablet {
    align-items: flex-start;
    padding: 64px 32px;
    flex-direction: row;
  }

  @include media-laptop {
    justify-content: space-between;
    flex-direction: row;

    text-align: left;

    .commitments-frame-1 {
      @include flexSpaceBetween;
      flex-direction: row;
    }
    .commitments-frame-column {
      @include flexSpaceBetween;
    }
    .column-padding {
      padding-bottom: 40px;
    }
    .column-margin {
      margin-bottom: 70px;
    }
  }
}

// .commitments {
//   @include flexSpaceBetween;
//   flex-wrap: wrap;

//   .commitments-frame-1 {
//     @include flexSpaceBetween;
//     gap: 35px;
//   }
//   .commitments-frame-column {
//     @include flexSpaceBetween;
//     flex-direction: column;
//   }
//   .column-padding {
//     padding-bottom: 40px;
//   }
//   .column-margin {
//     margin-bottom: 103px;
//   }
// }
